<div class="navbar navbar-bottom">
  <div class="navbar-content">
    <ul class="navbar-list">
  <%# if user_signed_in? %>
      <li class="nav-item">
        <%= link_to root_path ,class: "nav-link" do %>
          <i class="fas fa-home"></i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to pharmacies_path, class: "nav-link" do %>
          <i class="fas fa-search"></i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to chatrooms_path, class: "nav-link" do %>
          <i class="fas fa-comment-alt"></i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "prescriptions", class: "nav-link" do %>
          <i class="fas fa-pills"></i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to users_path, class: "nav-link" do %>
          <i class="fas fa-user-circle"></i>
        <% end %>
      </li>
    </ul>
  </div>
</div>
